NODE_ENV=development
PORT=3000
TZ=Asia/Jakarta

# Enables CORS from this URL
FRONTEND_CROSS_ORIGIN_URL=

# Postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DATABASE=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

# MinIO
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=443
MINIO_SSL=true
MINIO_ACESS_KEY=
MINIO_SECRET_KEY=
MINIO_USER_BUCKET_NAME=

# Sendgrid
SENDGRID_API_KEY=

# Google API
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
